ENVIRONMENT=development
TEST_POSTGRES_URI=postgresql://username:password@host:port/node_kn_db_test
DEV_POSTGRES_URI=postgresql://username:password@host:port/node_kn_db_dev
SECRET_KEY=thisismysecretkey